<div class="heads">
    <span [ngClass]="{'bor-btm': !headActive}" (click)="headActive = false; getTasks('PENDING')">Pending</span>
    <span [ngClass]="{'bor-btm': headActive}" (click)="headActive = true; getTasks('PUBLISH')">Published</span>
  </div>
  
  <div class="table-container">
    <table class="table table-striped">
      <thead>
        <!-- <th *ngFor="let headName of tableHeaders">{{headName}}</th> -->
        <th>Outlet</th>
        <th>City</th>
        <th>State</th>
        <th>Auditor</th>
        <th>Due Date</th>
        <th *ngIf="!headActive">Review checklist</th>
        <th *ngIf="!headActive"></th>
      </thead>
      <tbody>
        <tr
          *ngFor="let task of tasks">
          <td>{{task.storeName}}</td>
          <td>{{task.city}}</td>
          <!-- <td>{{task.model}}</td> -->
          <td>{{task.state}}</td>
          <td>{{task.auditor}}</td>
          <td>{{task.dueDate | date:'dd/MM/YYYY'}}</td>
          <td *ngIf="!headActive" class="view"><img src="assets/images/view.svg" class="align-right1"
              (click)="onClickViewResponse(task)" /></td>
          <td *ngIf="!headActive"><img src="assets/images/file_upload.svg" class="align-right1" data-toggle="modal"
              data-target="#confirmation" (click)="auditTaskId = task.id" /></td>
        </tr>
      </tbody>
  
    </table>
  </div>
  
  <div class="modal fade client-modal" id="confirmation" role="dialog">
    <div class="
    modal-dialog">
      <div class="modal-content">
        <div class="modal-header manage_users admin_popup_model">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Confirm</h4>
        </div>
        <div class="modal-body">
          <div style="text-align:center">
            <img class="confirmationImage" src="assets/images/confirmation.svg">
          </div>
          <div style="text-align: center">
            <p>Are you sure you want to publish this<br> response to the dashboard? </p>
          </div>
          <div style="text-align:center">
            <button class="btn confirm_btn" (click)="onClickConfirmPublish()"><span>CONFIRM</span></button>
            <button class="btn cancel_btn" #confirmClose data-dismiss="modal"><span>CANCEL</span></button>
          </div>
        </div>
      </div>
    </div>
  </div>