<div class="pop-header">
    <span class="pop-header-text">Add Investors</span>
    <button mat-icon-button class="close-button btn" [mat-dialog-close]="true">
    <mat-icon class="close-icon">close</mat-icon>
    </button>
</div>
<div class="pop-body">
    <div  class="single_bulk">
        <span  class="upload_data" (click)="isBulkUpload(false)">Single Creation</span>
        <span  class="upload_data" (click)="isBulkUpload(true)">Bulk Upload</span>
    </div>
    <div  >
        <form  [formGroup]="investorForm" *ngIf="!bulkUpload">
            <div  class="form-group inversor-form">
                <label  for="investor">Investor Name: </label>
                <input class="form-control margin-bottom" formControlName="investor" name="investor name" placeholder="Enter investor name" type="text">
            </div>
            <div  class="modal-footer">
                <button [disabled]="investorForm.invalid" (click)="onSubmitInvestor()" class="btn add_button" type="button">Add</button>
                <button  class="btn close_button" type="button" [mat-dialog-close]="true">Close</button>
            </div>
        </form>
        <ng-container *ngIf="bulkUpload">
            <app-file-upload   (uploaded)="onUpload($event)"></app-file-upload>
        </ng-container> 
    </div>
</div>
