
header{
    background-color: #e44838;
    height: 63px;
    .navbar-nav{
        a{
            padding-bottom: 13px;   
            color: #fff;
            .mat-icon{
                position: relative;
                top: 5px;
            }
        }
        a.active{
            color: white;
            background: #c52a1a;
            border-radius: 9px;
        }
    }
    .navbar-collapse{
        justify-content: center;
    }
}

.dashboard_link{
    color:#fff;
    margin-left:5px;
    font-size:17px;
    position: relative;
    top:15px;
    cursor: pointer;
}

.logo {
    height: 63px;
    background-color: #c52a1a;
    padding-top: 10px;

    img{
        margin-left: 40px;
        width: 183px;
    }
} 

.users{
    float:right;
    top: 6px;
    .mat-icon{
        color:#fff;
        font-size: 38px;
    }

    .username{
        color:#fff;
        margin-left:5px;
        font-size:14px;
    }
}

.user_image{
    width:30px;
    height:30px;;
    background-color: #fff;
    border-radius:50%;
    display: inline-block;
    top: 8px;
    position: relative;
}