<header>
        <span class="dashboard_link"> Pwc/Dashboard</span>
        <div class="users">
        <div class="user_image"> </div>
        <span class="username">audiAdminLead1@pwc.com</span>
        <button mat-icon-button [matMenuTriggerFor]="menu" class="btn"> 
                <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu"> 
                <button mat-menu-item>
                  <mat-icon>logout</mat-icon>
                  <span>Logout</span>
                </button>
        </mat-menu>
        </div>
</header>