
<div class="schedule-list">
  <div class="eng_title" style="font-size: 20px;font-weight: bolder;">{{eng_title}}</div>
    <div class="heading">
      <span [ngClass]="{'bor-btm': !headActive}" (click)="headActive = false; getTasks('NEW')">Scheduled</span>
      <span [ngClass]="{'bor-btm': headActive}" (click)="headActive = true; getTasks('INPROGRESS')">In progress</span>
    </div>
    <div class="create">
      <button class="btn btn-default btn-main" (click)="onCreate()">CREATE</button> 
    </div>
  
    <div class="table-container">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Outlet</th>
            <th>City</th>
            <th>State</th>
            <th>Auditor</th>
            <th>Due Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of tasks">
            <td>{{task.storeName}}</td>
            <td>{{task.city}}</td>
            <td>{{task.state}}</td>
            <td>{{task.auditor}}</td>
            <td>{{task.dateOfResponse  | date:'dd/MM/YYYY'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>