.single_bulk {
    display: flex;
}

.upload_data {
    border: 1px solid #ccc;
    flex: 1;
    text-align: center;
    padding: 12px 0;
}

.outlet-group {
    label{
        font-weight: 500;
        padding:10px;
    }
}

.margin-bottom {
    margin-bottom: 15px;
}

.modal-footer {
    text-align: left;
    padding: 15px 0!important;
}

.add_button {
    background-color: #e86153;
    border-color: #e86153;
    color: #fff;
    padding: 9px 24px;
    font-size: 15px;
    height: 50px;
}

.close_button {
    border-color: #e44838;
    padding: 9px 17px;
    color: #e44838;
    font-size: 15px;
    height: 50px;
}