<div class="col-sm-10 column  offset-2">
    <div class="container box-container">
        <div class="clients-boxes">
            <div class="box">
                <span class="box-count">12</span>
                <div class="box-text" >Number of Investors</div>
                <div class="box-name"  (click)="openDialog()">Manage Investors</div>
            </div>
            <div class="box">
                <span class="box-count">12</span>
                <div class="box-text" >Number of Dealers</div>
                <div class="box-name"  (click)="openDialog()">Manage Dealers
                </div>
            </div>
            <div class="box">
                <span class="box-count">12</span>
                <div class="box-text" >Number of Outlets</div>
                <div class="box-name"  (click)="openDialog()">Manage Outlets</div>
            </div>
            <div class="box">
                <span class="box-count">12</span>
                <div class="box-text" >Number of Engagements
                </div>
                <div class="box-name"  (click)="openDialog()">Manage Engagements</div>
            </div>
        </div>
    </div>
    <div class="container box-container">
        <div class="users-boxes">
            <div class="users-box">
    
            </div>
            <div class="users-box">
    
            </div>
            <div class="users-box">
                <div class="client-search">
                    <input class="form-control" name="search2" placeholder="Search client by name" type="text">
                    <button class="search" type="submit"><mat-icon>search</mat-icon></button>
                </div>
                <div class="client-list">
                    <table  class="table table-striped table-borderless table_magin_left_right">
                        <thead>
                            <tr  class="heading">
                                <th>Users</th>
                                <th ></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>audiReviewer2</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>audiAudit</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
