

<div class="container-fluid nopadding">
    <div class="row ">
      <div class="col-sm-12">
          <div class="home-dashboard">
              <div class="dashboard-img d-flex align-items-center justify-content-center h-100 flex-column">
                <div class="dashboard-icon">
                  <img src="assets/images/dashboardicon.svg" alt="dashboard-icon" class="img-responsive" />
                </div>
                  <span class="welcome-dashboard">Welcome to Dashboard !</span>
              </div>
        </div>
        <div class="dashboard-boxes" *ngIf="loaded">
          <div class="dashboard-box box1" (click)="openDialog('Investors')">
            <div class="clients-img">
              <img src="assets/images/add_client.svg" alt="add-client" class="img-responsive" />
              <div class="clients">
                <span class="clients-number">{{dashboard.investors}}</span>
                <br />
                <span class="dashboard-client">Investors</span>
              </div>
            </div>
          </div>
          <div class="dashboard-box box2" (click)="openDialog('Dealers')">
            <div class="clients-img">
              <img src="assets/images/add_model.svg" alt="add-client" class="img-responsive" />
              <div class="clients">
                <span class="clients-number">{{dashboard.dealers}}</span>
                <br />
                <span class="dashboard-client">Dealers</span>
              </div>
            </div>
          </div>
          <div class="dashboard-box box3"  routerLink="/app/engagement">
            <div class="clients-img">
              <img src="assets/images/engagements.svg" alt="add-client" class="img-responsive" />
              <div class="clients">
                <span class="clients-number">{{dashboard.engagements}}</span>
                <br />
                <span class="dashboard-client">Engagements</span>
              </div>
            </div>
          </div>
          <div class="dashboard-box box4" (click)="openDialog('Outlets')">
            <div class="clients-img">
              <img src="assets/images/add_model.svg" alt="add-client" class="img-responsive" />
              <div class="clients">
                <span class="clients-number">{{dashboard.engagements}}</span>
                <br />
                <span class="dashboard-client">Outlets</span>
              </div>
            </div>
          </div>
        </div>
        <div class="dashboard-boxes" *ngIf="loaded">
            <div class="dashboard-box box1 users_box" (click)="openDialog('Admin')">
              <div class="clients-img">
                <div class="clients">
                  <span class="clients-number">{{user.admin}}</span>
                  <br />
                  <span class="dashboard-client">Admin</span>
                </div>
              </div>
            </div>
            <div class="dashboard-box box2 users_box" (click)="openDialog('Auditor')">
              <div class="clients-img">
                <div class="clients">
                  <span class="clients-number">{{user.auditor}}</span>
                  <br />
                  <span class="dashboard-client">Auditor</span>
                </div>
              </div>
            </div>
            <div class="dashboard-box box3 users_box" (click)="openDialog('Client User')">
              <div class="clients-img">
                <div class="clients">
                  <span class="clients-number">{{user.clientUser}}</span>
                  <br />
                  <span class="dashboard-client">Client User</span>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>