.dashboard-img {
  //  background-image: url("src/assets/images/orange_bg.png");
    height: 154px !important;
}

.dashboard-icon{
    width: 54px;
    justify-content: center;
    align-items: center;
}

.welcome-dashboard{
    color: #fff;
    font-size: 22px;
}
.dashboard-boxes{
    display: flex;
    align-items: stretch;
}
.dashboard-box{
    color: white;
    margin: 10px;
    text-align: center;
    margin: 10px;
    height: 175px;
    font-size: 15px;
    flex-grow: 3;
    position:relative;
    cursor: pointer
}

.box1{
    background:#aa2417;
}

.box2{
    background:#e44838;
}

.box3{
    background:#ffb600;
}

.box4{
    background:#c3c0b8;
}

.clients-img{
    img{
        width:100px;
        position:absolute;
        bottom:20px;
        left:20px;
    }
    .clients-number{
        font-size: 45px;
    }

    .clients{
        position: absolute;
        bottom: 50px;
        right: 35px;
    }
}