<div class="container-fluid engagement-box">
    <div class="row">
        <div *ngFor="let engagement of engagements;let i=index" class="col-sm-3">
            <div class="eng-card"  (click)="navigateToDashboard(engagement)">
                <div class="row">
                    <div class="col-md-4 eng_id">
                      ID: {{engagement.id}}
                    </div>
                    <div class="col-md-8 calendar_date">
                      <div class="col-md-2">
                        <small><mat-icon>calendar_today</mat-icon></small>
                      </div>
                      <div class="col-md-10 strt-date">
                        {{engagement.engagementStartDate | date}}
                      </div>
                    </div>
                  </div>
          
                  <div class="row eng-row">
                    <div class="col-md-9">
                      <p class="eng_name">
                        {{engagement.engagementName}}
                      </p>
                    </div>
                    <div class="col-md-3">
          
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>