
<div class="heading">
    <span [ngClass]="{'bor-btm': headActive == 1}" (click)="getCards('NEW',1)">New</span>
   <span [ngClass]="{'bor-btm': headActive == 2}" (click)="getCards('INPROGRESS',2)">In progress</span>
    <span [ngClass]="{'bor-btm': headActive == 3}" (click)="getCards('PUBLISH',3)">Submitted</span>
  </div>
  <div class="row audior-nodata" *ngIf="datas.length == 0"><h4>No Data Found!</h4></div>
<div class="row audior-home" *ngIf="datas">
    <div class="col-sm-3 card" *ngFor="let data of datas" (click)="onSelectAuditList(data)">
        <div class="auditor-card card">
            <div class="card-body">
                
                <div class="row title-box">
                    <label class="card-title" style="white-space: pre-wrap !important">
                    <h4 id="{{ data.storeName }}" class="card-subtitle mb-1 mt-1 font-weight-normal" rel="popover"
                        data-placement="bottom" data-trigger="hover">{{data.storeName}}</h4>
                    </label>
                </div>
                <div class="row inforow">
                    <label class="text-muted-rowitem">{{data.city}}, {{data.state}}</label>
                </div>
                <div class="card-row-1">
                    <div class="date_div">
                    <label id="{{ data.due_date }}" class="date-row ellipsis" rel="popover"
                        data-placement="bottom" data-trigger="hover"><span class="due-date"><small>Due Date:</small> {{data.dueDate | date: 'dd/MM/YYYY'}}</span></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
