<div class="pop-header">
    <span class="pop-header-text">Add {{data.type}}</span>
    <button mat-icon-button class="close-button btn" [mat-dialog-close]="true">
    <mat-icon class="close-icon">close</mat-icon>
    </button>
</div>
<div class="pop-body" data-simplebar>
    <div>
        <form  [formGroup]="userForm" >
            <div  class="form-group user-group">
                <label  for="user">First Name: </label>
                <input class="form-control margin-bottom" formControlName="firstName" placeholder="Enter First Name" type="text">
            </div>

            <div  class="form-group user-group">
                <label  for="user">Last Name: </label>
                <input class="form-control margin-bottom" formControlName="lastName" placeholder="Enter Last Name" type="text">
            </div>

            <div  class="form-group user-group">
                <label  for="user">Email Id: </label>
                <input class="form-control margin-bottom" formControlName="email" placeholder="Enter Email Id" type="text">
            </div>
            <div  class="form-group user-group">
                <label  for="user">Password: </label>
                <input class="form-control margin-bottom" formControlName="password" placeholder="Enter Password" type="text">
            </div>
            <div  class="modal-footer">
                <button [disabled]="userForm.invalid" (click)="onSubmitUser()" class="btn add_button" type="button">Add</button>
                <button  class="btn close_button" type="button"  [mat-dialog-close]="true">Close</button>
            </div>
        </form> 
    </div>
</div>
