<div class="container questionnaire-container">
  <div class="questionnaire">
    <div class="question_title_div row">
      <div class="col-md-6" style="font-size: 20px;"><b>{{storeName}}</b></div>
      <div class="col-md-6">
        <span class="text-align-right">Completion status: {{completionStatus}}%</span>
        <span class="text-align-right" style="margin-right:20px;">Unanswered questions: {{totalUnAns}}</span>
      </div>
    </div>
    <mat-progress-bar class="progress-bar-styling" mode="determinate" [value]="completionStatus"></mat-progress-bar>
  </div>
  <div class="view_response mat-ripple-removed">
    <div class="row menu-strip" style="height: 50px;">
      <div class="col-md-1 col-lg-1"><b>Area Level</b></div>
      <div class="col-md-5 col-lg-5">
        <ng-multiselect-dropdown
          [placeholder]="'Select Category'"
          [settings]="dropdownCategorySettings"
          [data]="categoryArray"
          [(ngModel)]="defaultCategorySelected"
          (onSelectAll)="category($event,'selectall')"
          (onDeSelect)="category($event,'deselectone')" (onDeSelectAll)="category($event,'deselectall')"
        >
        </ng-multiselect-dropdown>
      </div>
      <div class="col-md-1 col-lg-1"><b>Bucket Level</b></div>
      <div class="col-md-5 col-lg-5">
        <ng-multiselect-dropdown
          [placeholder]="'Select Category'"
          [settings]="dropdownBucketSettings"
          [data]="bucketArr"
          [(ngModel)]="defaultBucketSelected"
          (onSelectAll)="bucket($event,'selectall')"
          (onDeSelect)="bucket($event,'deselectone')" (onDeSelectAll)="bucket($event,'deselectall')"
        >
        </ng-multiselect-dropdown>
      </div>
    </div>
    <div class="row menu-strip">
      <div class="col-md-2 col-lg-2">
        <b> KPI Marked as No</b>
      </div>
      <div class="col-md-2 col-lg-2">
        <div class="switch">
          <p class="switch-cont"><b></b></p>
          <mat-slide-toggle [(ngModel)]="isMarkedChecked" (change)="changed('marked')"></mat-slide-toggle>
        </div>
      </div>
      <div class="col-md-2 col-lg-2">
        <b> KPI Unanswered</b>
      </div>
      <div class="col-md-2 col-lg-2">
        <div class="switch">
          <p class="switch-cont"><b></b></p>
          <mat-slide-toggle [(ngModel)]="isUnansweredChecked" (change)="changed('unanswered')"></mat-slide-toggle>
        </div>
      </div>
      <div class="col-md-2 col-lg-2">
        <b> KPI Flagged for Review</b>
      </div>
      <div class="col-md-2 col-lg-2">
        <div class="switch">
          <p class="switch-cont"><b></b></p>
          <mat-slide-toggle [(ngModel)]="isFlaggedChecked" (change)="changed('flagged')"></mat-slide-toggle>
        </div>
      </div>
    </div>
    <div style="color: #E44838; font-size:20px;"
    *ngIf="!defaultCategorySelected.length || !defaultBucketSelected.length">
      Please select atleast a category and atleast a bucket
    </div>
  </div>
  <div class="ques-full" style="position:relative" *ngFor="let q of question;index as i">
    <div class="ques"><span>{{q.kpiNumber}}) </span> <span>{{q.question}}</span></div>
    <div class="form-group bin-element">
      <label for="info"  >
        <span data-toggle="modal" data-target="#myModal" (click)="getInfo(q)"><img class="info"
            src="assets/images/info_fill_red.svg" /></span>
      </label>
      <label for="flag">
        <img  class="info" *ngIf="q.reviewFlag == true" (click)="q.reviewFlag=false; reviewFlagResponse(q)" src="assets/images/flag_red.svg"
           />
        <img class="info"  *ngIf="q.reviewFlag == false" (click)="q.reviewFlag=true; reviewFlagResponse(q)" src="assets/images/flag_grey.svg"/>
      </label>
      <span data-toggle="modal"
      (click)="getEvidence(q)"  data-target="#evidenceModal" *ngIf="q.answerId">
        <img class="view" src="assets/images/view.svg" alt="viewEvidence">
      </span>
    </div>
    <div class="opt-evd">
      <div>
        <span class="option border">
          <button type="button"
          class="btn"
          [ngClass]="{'selected ':q.answer=='Yes','notSelected':q.answer!='Yes'}" (click)="q.answer='Yes';onSelectResponse(q)"
          class="btn "
          ></button>
        <label class="margin-left-3">Yes</label>
        <button type="button" (click)="q.answer='No';q.isExpand=true;"
        class="btn"
        [ngClass]="{'selected ':q.answer=='No','notSelected':q.answer!='No'}"
         
          class="btn"
         ></button>
        <label class="margin-left-3" >No</label>
        <button type="button" (click)="q.answer='N/A';onSelectResponse(q)"
        class="btn"
        [ngClass]="{'selected':q.answer=='N/A','notSelected':q.answer!='N/A'}"
          ></button>
          <label class="margin-left-3">N/A</label>
        </span>
        <div class="text-area" *ngIf="q.answer =='No' && q.isExpand">
          <div class="root">
            <span><b>Current State</b></span><br />
            <!-- <input type="text"> -->
            <textarea id="w3review" name="w3review" rows="4" cols="50"
            [(ngModel)]="q.currentState" (keyup)="onKeyUp(question)">{{q.currentState}}</textarea>
          </div>
          <div class="root">
            <span><b>Root Cause</b></span><br />
            <!-- <input type="text"> -->
            <textarea id="w3review" [(ngModel)]="q.rootCause" (keyup)="onKeyUp(question)" name="w3review" rows="4" cols="50"
              >{{q.rootCause}}</textarea>
          </div>

          <div class="submit response">
            <button class="mr-top" (click)="onSelectResponse(q)">Submit</button>
          </div>
        </div>

        <div class="display content" *ngIf="q.answer=='No' && qId==q.q_id" class="display content">
          <div class="">
            <span class="color">Current State</span><br />
            <div class="alignment">{{q.currentState}}</div>
          </div>
          <div class="">
            <span class="color">Root Cause</span><br />
            <div class="alignment">{{q.rootCause}}</div>
          </div>

          <!-- <div class="edit">
            <button class="edit-res" (click)="editResponse(question)">Edit</button>
          </div> -->
        </div>
        <div> <label>Please upload the evidence:</label></div>
        <div *ngIf="q.answerId">
          <form [formGroup]="uploadForm" (ngSubmit)="onSubmit(q)">
            <div>
              <input type="file" name="evidence" (change)="onFileSelect($event)"  multiple/>
            </div>
            <div class="padding-top">
              <button type="submit" class="btn btn-default btn-main upload-btn">Upload</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="create-wrap">
    <button class="btn btn-default btn-main margin-right" >Summary
    </button>
    <button class="btn btn-default btn-main">Dealer Review >
    </button></div>
</div>

<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog admin_form_popup1">

    <div class="modal-content">
      <div class="modal-header info manage_users admin_popup_model">
        <h3 class="modal-title "> Requirements </h3>
        <span type="button" class="close" data-dismiss="modal">&times;</span>
      </div>
      <div class="modal-body info_model_body">
       {{ques_info}}
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="evidenceModal" role="dialog">
  <div class="modal-dialog admin_form_popup1">

    <div class="modal-content">
      <div class="modal-header info manage_users admin_popup_model">
        <h3 class="modal-title "> Evidences uploaded </h3>
        <span type="button" class="close" data-dismiss="modal">&times;</span>
      </div>
      <div class="modal-body info_model_body">
        <div *ngIf="evidenceArr.length>0">
          <li *ngFor="let evidence of evidenceArr;index as k">
            <span *ngIf="evidence.evidenceName!='null'"> <a [href]="evidence"
                target="_blank">evidence{{k+1}}</a></span>&nbsp;
            <span class="float-right padding-right"
              (click)="deleteEvidence(evidence.evidenceId)"><a><i class="fa fa-trash-o fa-lg"></i></a></span>
          </li>
        </div>
      </div>
    </div>
  </div>
</div>