.questionnaire-container{
    padding-bottom: 20px;
    
    .text-align-right{
        float:right;
    }
    
    .progress-bar-styling{
        width:100%;
        margin-top:10px;
    }
    
    .menu-strip {
        background: #ccc;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    ::ng-deep{
        .mat-progress-bar-buffer {
            background-color:#dfd8d8 !important;
        }
        
        .mat-progress-bar-fill::after {
            background-color: #E44838 !important;
        }
        .dropdown-btn{
            background: #fff;
        }
    }

    .view_response{
        margin-top:10px;
    }

    .switch{
        position: relative;
        top: -7px;
    }

    .ques-full .option {
        color: #E44838;
        padding: 5px;
        margin: 5px;
      }
      
      .ques-full .option.plus {
        cursor: pointer;
      }
      
      
      
      .ques-full {
        margin-top: 10px;
      }
      
      .ques {
        margin: 5px;
        white-space: pre-wrap;
      
      }
      
      .ques input {
        width: 100%;
        padding-left: 5px;
        margin: 5px;
      }
      
      .ques-full .opt-evd {
        margin-left: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      
      .ques-full .evd {
        margin-top: 15px;
        margin-left: 5px;
      }
      
      .ques-full .opt-rem {
        cursor: pointer;
      }

      .bin-element {
        position: absolute;
        right: 0px;
        bottom: 6px;
        display: none;
        cursor: pointer;
        display: block;
      }
      
      .bin-element>input {
        display : none ;
      }

      img.view {
        height: 19px;
        cursor: pointer;
        margin-right: 10px;
    }

    img.info {
        height: 30px;
        cursor: pointer;
        margin-right: 10px;
    }

    .notSelected{
        width: 14px; 
        height: 14px; 
        padding: 6px 0px; 
        border-radius: 15px; 
        font-size: 8px; 
        text-align: center; 
        background-color: #fff;
        border: 1px solid #E44838;
    }
    .selected{
        width: 14px; 
        height: 14px; 
        padding: 6px 0px; 
        border-radius: 15px; 
        font-size: 8px; 
        text-align: center; 
        background-color: #E44838;
        border: none;
        outline: none;
    }
    
    .margin-left-3{
        margin-right: 30px;
        margin-left: 3px;
    }

    .submit{
        display: flex;
        flex-direction: column;
        .mr-top{
          margin-top: 30px;
          background: #E44838;
          color: #F2F2F2;
          border: none;
          padding: 4px 10px;
          border-radius: 3px;
        }
    }

    .text-area {
        display: flex;
    }

    .root {
        margin: 10px 18px;
    }

    .color{
        color:#E44838;
    }

    .alignment{
        margin: 10px 0px;
    }

    .upload-btn{
        padding: 0px 7px;
        font-size: 15px;
        height: 26px;
    }

    .padding-top{
        padding-top:9px;
    }

    .create-wrap {
        text-align: right;
        margin: 20px;
    }

    .margin-right{
        margin-right: 30px;
    }
}

.question_title_div{
    margin-top:20px;
}



.modal-header.info.manage_users.admin_popup_model {
    height: 76px;
    width: 95%;
    margin: auto;
    /* padding-left: 33px; */
    border-bottom: 1.5px solid #E44838 !important;
    h3.modal-title {
      position: relative;
      bottom: 12px;
  }
  padding-top: 32px;
  }
  
  .modal-body.info_model_body {
    min-height: 100px !important;
    padding-top: 35px;  
    padding-left: 32px;
    white-space: pre-wrap;
  }

  .modal-title{
      
  }