.dashboard-img {
    background-image: url("src/assets/images/orange_bg.png");
    height: 154px !important;
}

.dashboard-icon{
    width: 54px;
    justify-content: center;
    align-items: center;
}

.welcome-dashboard{
    color: #fff;
    font-size: 16px;
}