

.nav-link{
    color: #000;
    
    .mat-icon{
        top: 6px;
        position: relative;
    }
}

.nav-link:hover{
    color: #c52a1a;
    background-color: #fff;
    border-left: 3px solid #c52a1a;  
}

.nav-link.active{
    background-color: #fff;
    border-left: 3px solid #c52a1a;  
    color: #000;
}