
    <div>
        <div class="logo">
            <img src="assets/images/CPAT2.png">
        </div>
        <div>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a href="#" class="nav-link active" aria-current="page">
                        <mat-icon>home</mat-icon>
                        Home
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link link-dark">
                        <mat-icon>add_to_queue</mat-icon>
                        Manage Clients
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link link-dark">
                        <mat-icon>person_add_alt_1</mat-icon>
                        Manage Users
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link link-dark">
                        <mat-icon>checkroom</mat-icon>
                        Diagnostics
                    </a>
                </li>
            </ul>
        </div>
    </div>