<div class="container-fluid questionnaire-container">
    <div class="dealer review">
      <div class="col-md-6" style="font-size: 20px;"><b>{{storeName}}</b></div>
        <div class="container-fluid">
            <div class="row menu-strip" style="height: 50px;">
                <div class="col-md-1 col-lg-1"><b>Area Level</b></div>
                <div class="col-md-5 col-lg-5">
                  <ng-multiselect-dropdown
                    [placeholder]="'Select Category'"
                    [settings]="dropdownCategorySettings"
                    [data]="categoryArray"
                    [(ngModel)]="defaultCategorySelected"
                    (onSelectAll)="category($event,'selectall')"
                    (onDeSelect)="category($event,'deselectone')" (onDeSelectAll)="category($event,'deselectall')"
                  >
                  </ng-multiselect-dropdown>
                </div>
                <div class="col-md-1 col-lg-1"><b>Bucket Level</b></div>
                <div class="col-md-5 col-lg-5">
                  <ng-multiselect-dropdown
                    [placeholder]="'Select Category'"
                    [settings]="dropdownBucketSettings"
                    [data]="bucketArr"
                    [(ngModel)]="defaultBucketSelected"
                    (onSelectAll)="bucket($event,'selectall')"
                    (onDeSelect)="bucket($event,'deselectone')" (onDeSelectAll)="bucket($event,'deselectall')"
                  >
                  </ng-multiselect-dropdown>
                </div>
              </div>
              <div class="row menu-strip">
                <div class="col-md-2 col-lg-2">
                  <b> KPI Marked as No</b>
                </div>
                <div class="col-md-3 col-lg-3">
                  <div class="switch">
                    <p class="switch-cont"><b></b></p>
                    <mat-slide-toggle  [(ngModel)]="isMarkedChecked" (change)="changed('marked')"></mat-slide-toggle>
                  </div>
                </div>
                <div class="col-md-2 col-lg-2">
                  <b> Quick wins</b>
                </div>
                <div class="col-md-2 col-lg-2">
                  <div class="switch">
                    <p class="switch-cont"><b></b></p>
                    <mat-slide-toggle [(ngModel)]="isQuickWinChecked" (change)="changed('marked')"></mat-slide-toggle>
                  </div>
                </div>
              </div>
              <div style="color: #E44838; font-size:20px;" *ngIf="!defaultCategorySelected.length || !defaultBucketSelected.length">
                No Data Available
            </div>
            <div class="date-fields row">
                <div *ngIf="defaultCategorySelected.length && defaultBucketSelected.length" class=" ">
                    <div class="table-container" id="scroll" data-simplebar style="max-height:386px">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                  <th>KPI Number</th>
                                  <th>KPI Description</th>
                                  <th>Response</th>
                                  <th>Current State</th>
                                  <th>Root Cause</th>
                                  <th>Time Line</th>
                                  <th>Quick Win</th>
                                  <th>View Evidences</th>
                                  <th>Upload Evidences</th>
                                  <th>Submit Details</th>
                                </tr>
                            </thead>
                            <tr *ngFor="let question of question_array;index as i">
                              <td>
                                <p>{{question.kpiNumber}} </p>
                              </td>
                              <td>
                                <p>{{question.question}}</p>
                              </td>
                              <td>
                                <span>
                                  <select [(ngModel)]="question.answer" id="dropdown">
                                    <option *ngFor="let opt of options"  [value]="opt.name">
                                      {{opt.name}}
                                    </option>
                                  </select>
                                </span>
                              </td>
                              <td>
                                <span *ngIf="question.answer=='No'">
                                  <input  type="text"  [(ngModel)]="question.currentState" [ngModelOptions]="{standalone: true}" />
                                </span>
                              </td>
                              <td>
                                <span  *ngIf="question.answer=='No'">
                                  <input  type="text" [(ngModel)]="question.rootCause" [ngModelOptions]="{standalone: true}" />
                                </span>
                              </td>
                              <td>
                                <span *ngIf="question.answer=='No'">
                                  <mat-form-field>
                                    <input matInput [matDatepicker]="picker"  [(ngModel)]="question.deadline" [ngModelOptions]="{standalone: true}">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                  </mat-form-field>
                                </span>
                              </td>
                              <td class="center-align">
                                <span *ngIf="question.answer=='No'" class="quicwinicon">
                                  <i *ngIf="question.quick_win==0 || question.quick_win.length==0"
                                    (click)="question.quick_win=1;onWinClick(question)"
                                    class="fa fa-trophy" style="font-size:18px"></i>
                                  <i *ngIf="question.quick_win==1"
                                    (click)="question.quick_win=0;onWinClick(question)"
                                    class="fa fa-trophy" style="font-size:18px ; color: #E44838"></i>
                                </span>
                              </td>
                              <td class="text-align">
                                <span>
                                  <span data-toggle="modal"
                                  (click)="getEvidence(question)"
                                  data-target="#evidenceModal">
                                    <img style="width: 25px;" class="view" src="assets/images/view.svg" alt="viewEvidence">
                                </span>
                                </span>
                              </td>
                              <td class="text-align">
                                <form [formGroup]="uploadForm">
                                  <span (click)="hiddenfileinput.click()"><img class="upload-file"
                                      src="assets/images/upload-file.png"  style="width: 20px;" /></span>
                                  <input style="display: none" type="file" name="evidence"
                                  (change)="onFileSelect($event,question)"
                                    #hiddenfileinput multiple>
                                </form>
                              </td>
                              <td class="text-align">
                                <span>
                                  <mat-icon style="font-size:18px ; color: #E44838">done</mat-icon>
                                </span>
                              </td>
                            </tr>
                        </table>
                    </div>
                    <button class="btn btn-publish" (click)="submitForm()">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="evidenceModal" role="dialog">
  <div class="modal-dialog admin_form_popup1">

    <div class="modal-content">
      <div class="modal-header info manage_users admin_popup_model">
        <h3 class="modal-title "> Evidences uploaded </h3>
        <span type="button" class="close" data-dismiss="modal">&times;</span>
      </div>
      <div class="modal-body info_model_body">
        <div *ngIf="evidenceArr.length>0">
          <li *ngFor="let evidence of evidenceArr;index as k">
            <span *ngIf="evidence.evidenceName!='null'"> <a [href]="evidence"
                target="_blank">evidence{{k+1}}</a></span>&nbsp;
            <span class="float-right padding-right"
              (click)="deleteEvidence(evidence.evidenceId)"><a><i class="fa fa-trash-o fa-lg"></i></a></span>
          </li>
        </div>
      </div>
    </div>
  </div>
</div>